.user-dashboard{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    width: 280px;
    height: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
    overflow-y: scroll;
    direction: ltr;
    background: #e7e6e6;
}
.user-dashboard a{
    border-radius: 40px;
    width: 220px;
    height: 100%;
    padding: 16px;
    font-weight: bold;
    margin: 0px 15px 0px 0px;
    text-decoration: none !important;
    display: block;
    align-items: center;
    color: black;
}
.user-dashboard a:hover:not(.btnselect){
    background-color: rgb(218, 218, 218);
}
.user-dashboard .btnselect{
    color: #529795;
    background: #f0d264;
    box-shadow: 0 0 15px #ece1b8,
    0 0 15px #ece1b8,
    0 0 15px #ece1b8,
    0 0 15px #ece1b8;
}
.user-panel{
    position: fixed;
    left: 0;
    margin: 130px 20px;
    border-radius: 10px;
    width: 76%;
    height: 75%;
    background: #ffffff;
}
.user-panel .texts{
    font-weight: bold;
    border-bottom: 1px solid rgb(173, 172, 172) ;
}

.subscrabtion{
    width: 95%;
    height: 110px;
    margin: auto;
    border-radius: 90px;
    background: #ebd999;
}
.dashbord-container{
    width: 100%;
    display: grid;
    grid-template-rows:repeat(1,1fr) ;
    grid-template-columns:repeat(2,1fr) ;
}

@media (min-width:0px) and (max-width:580px) {
    .user-menu{
       transform:translateX(400px);
    }
    .user-panel{
        position: fixed;
        left: 0;
        margin: 130px 20px;
        border-radius: 10px;
        width: 93%;
        height: 75%;
        background: #ffffff;
    }
    .dashbord-container{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
}
@media (min-width:581px) and (max-width:834px) {
    .user-panel{
        position: fixed;
        left: 0;
        margin: 130px 20px;
        border-radius: 10px;
        width: 94%;
        height: 75%;
        background: #ffffff;
    }
    .user-menu{
        transform:translateX(400px);
    }
}
@media (min-width:835px) and (max-width:1250px) {
    .user-panel{
        position: fixed;
        left: 0;
        margin: 130px 20px;
        border-radius: 10px;
        width: 84%;
        height: 75%;
        background: #ffffff;
    }
    .user-dashboard{
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: end;
        width: 110px;
        height: 100%;
        position: fixed;
        right: 0px;
        top: 0px;
        overflow-y: scroll;
        direction: ltr;
        background: #e7e6e6;
    }
    .user-dashboard a{
        border-radius: 40px;
        width: 70px;
        height: 100%;
        padding: 16px;
        font-weight: bold;
        font-size: 20px;
        margin: 0px 15px 0px 0px;
        text-decoration: none !important;
        display: block;
        align-items: center;
        color: black;
    }
    .user-dashboard span{
       display: none;
    }
  
}